.*
!.gitignore
!.ebignore
!.htaccess
!.gitkeep
!.travis.yml
!/.ebextensions
!/.ebextensions/*
!/.github
/composer.phar

# Projects not invented here.
/mautic
/mautic/bower_components
/mautic/node_modules
/mautic/npm-debug.log
/node_modules
/package-lock.json
/vendor
/bin
/selenium
/mautic_custom/*
!/mautic_custom/.gitkeep
/composer.custom
/plugins.json
/plugins/*
!/plugins/.gitkeep

# Elastic Beanstalk Files
/.elasticbeanstalk/*
!/.elasticbeanstalk/*.cfg.yml
!/.elasticbeanstalk/*.global.yml
