.DS_Store
.idea
nbproject
node_modules
bower_components
npm-debug.log

# Projects not invented here.
mautic
vendor
bin

# Elastic Beanstalk Files.
.elasticbeanstalk/*
!.elasticbeanstalk/*.global.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
