{
    "require": {
      "thedmsgroup/mautic-eb-custom": "dev-master",
      "thedmsgroup/mautic-extended-fields": "dev-master",
      "thedmsgroup/mautic-contact-client": "dev-master"
    },
    "repositories": [
      {
        "type": "package",
        "package": {
          "type": "library",
          "name": "thedmsgroup/mautic-eb-custom",
          "version": "dev-master",
          "source": {
            "type": "git",
            "url": "https://github.com/thedmsgroup/mautic-eb-custom.git",
            "reference": "master"
          },
          "require": {
            "mnsami/composer-custom-directory-installer": "1.1.*"
          }
        }
      },
      {
        "type": "package",
        "package": {
          "type": "library",
          "name": "thedmsgroup/mautic-extended-fields",
          "version": "dev-master",
          "source": {
            "type": "git",
            "url": "https://github.com/thedmsgroup/mautic-extended-fields.git",
            "reference": "master"
          },
          "require": {
            "thedmsgroup/mautic-eb-custom": "dev-master",
            "mautic/core": "dev-master",
            "mnsami/composer-custom-directory-installer": "1.1.*"
          }
        }
      },
      {
        "type": "package",
        "package": {
          "type": "library",
          "name": "thedmsgroup/mautic-contact-client",
          "version": "dev-master",
          "source": {
            "type": "git",
            "url": "https://github.com/thedmsgroup/mautic-contact-client.git",
            "reference": "master"
          },
          "require": {
            "thedmsgroup/mautic-eb-custom": "dev-master",
            "mautic/core": "dev-master",
            "mnsami/composer-custom-directory-installer": "1.1.*"
          }
        }
      }
    ],
    "extra": {
        "installer-paths": {
            "./mautic_custom": [
                "thedmsgroup/mautic-eb-custom"
            ],
            "./mautic/plugins/MauticExtendedFieldsBundle": [
                "thedmsgroup/mautic-extended-fields"
            ],
            "./mautic/plugins/MauticContactClientBundle": [
                "thedmsgroup/mautic-contact-client"
            ]
        }
    }
}
