# Nullify cron files so that costly cron jobs can gracefully go to sleep during a deployment.

files:
  "/etc/cron.d/project":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Cron file nullified to ensure deployment succeeds. Will be regenerated shortly.

  "/etc/cron.d/project_custom":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Cron file nullified to ensure deployment succeeds. Will be regenerated shortly.

container_commands:
  01_cronloop_stop:
    command: pkill -f cronloop
    ignoreErrors: true
  02_consoleloop_stop:
    command: pkill -f consoleloop
    ignoreErrors: true
