# Nullify cron files so that costly cron jobs can gracefully go to sleep during a deployment.

files:
  "/etc/cron.d/project":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Cron file nullified to ensure deployment succeeds. Will be regenerated shortly.

  "/etc/cron.d/project_custom":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Cron file nullified to ensure deployment succeeds. Will be regenerated shortly.

container_commands:
  01_cronloop_stop:
    command: ps ax | grep 'cronloop' | awk -F ' ' '{print $1}' | xargs sudo pkill -9
    ignoreErrors: true
  02_consoleloop_stop:
    command: ps ax | grep 'consoleloop' | awk -F ' ' '{print $1}' | xargs sudo pkill -9
    ignoreErrors: true
