# Configuration suggestions for HIPAA/PCI compliance.

# Uncomment if you need to enforce dedicated tennancy for all environments.
# Resources:
#   AWSEBAutoScalingLaunchConfiguration:
#     Type: AWS::AutoScaling::LaunchConfiguration
#     Properties:
#       # For HIPAA compliance.
#       PlacementTenancy: "dedicated"

option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    # We wish all audit logs to extend beyond 6 years.
    RetentionInDays: 3653