# Configuration suggestions for Elastic Load balancer

# Support slow-loading pages such as report exports that do not stream and heavy Campaigns that take 60s to load.
option_settings:
  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 600

# Set timeouts to extend slightly beyond the above ELB setting with reqtimeout in order to avoid 408 errors.
files:
  "/etc/httpd/conf.d/mod_reqtimeout.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <IfModule reqtimeout_module>
        RequestReadTimeout header=602,MinRate=500 body=602,MinRate=500
      </IfModule>
      TimeOut 602