# Global bash functions for simpler cron jobs and maintenance of Mautic.

files:
  "/bin/console":
    mode: "0000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      # console - Runs a console command as webapp user from anywhere in the EC2.
      #           Ensures we are using the webapp user.
      #           Works during deployment, and after instance is finalized.
      #
      # Example:
      #   console cache:clear
      params=$@
      if [ -f "./mautic/app/console" ]
      then
          sudo -u webapp bash -c ". /opt/elasticbeanstalk/support/envvars ; /usr/bin/php ./mautic/app/console $params"
      else
          sudo -u webapp bash -c ". /opt/elasticbeanstalk/support/envvars ; /usr/bin/php /var/app/current/mautic/app/console $params"
      fi

  "/bin/cron":
    mode: "0000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      # cron    - Run a mautic cron console command only if on the leader instance using aws-eb-cron.
      #
      # Example:
      #   * * * * * root cron mautic:emails:send
      params=$@
      if [ -f "./mautic/app/console" ]
      then
          sudo bash ./scripts/aws-eb-cron.sh /usr/bin/php ./mautic/app/console $params --no-interaction --no-ansi
      else
          sudo bash /var/app/current/scripts/aws-eb-cron.sh /usr/bin/php /var/app/current/mautic/app/console $params --no-interaction --no-ansi
      fi
