# PHP Configuration for this project.
container_commands:
  21_install_zip:
    test: '[ ! -f /usr/lib64/php/7.0/modules/zip.so ] && echo "zip is not installed"'
    command: yum install -y php70-zip
  22_install_imap:
    test: '[ ! -f /usr/lib64/php/7.0/modules/imap.so ] && echo "imap is not installed"'
    command: yum install -y php70-imap
  23_install_mailparse:
    test: '[ ! -f /usr/lib64/php/7.0/modules/mailparse.so ] && echo "mailparse is not installed"'
    command: pecl7 install --force mailparse
  24_restart_httpd:
    command: service httpd restart

files:
  "/etc/php.d/z_project.ini":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      [opcache]
      opcache.enable = On
      opcache.enable_cli = On
      opcache.validate_timestamps = On
      opcache.revalidate_freq = 300
      opcache.memory_consumption = 256
      [apc]
      apc.enabled = On
      apc.enable_cli = On
      apc.shm_size = 256M
      max_execution_time = 60
      memory_limit = 512M
      disable_functions = phpinfo
