# PHP Configuration for this project.
container_commands:
  10_install_zip:
    test: '[ ! -f /usr/lib64/php/7.1/modules/zip.so ] && echo "zip is not installed"'
    command: sudo yum install -y php71-zip
  11_install_imap:
    test: '[ ! -f /usr/lib64/php/7.1/modules/imap.so ] && echo "imap is not installed"'
    command: sudo yum install -y php71-imap
#  12_install_mailparse:
#    test: '[ ! -f /usr/lib64/php/7.1/modules/mailparse.so ] && echo "mailparse is not installed"'
#    command: sudo pecl7 install --force mailparse
  13_restart_httpd:
    command: sudo service httpd restart

files:
  "/etc/php.d/z_project.ini":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      [opcache]
      opcache.enable = On
      opcache.enable_cli = On
      opcache.validate_timestamps = On
      opcache.revalidate_freq = 300
      opcache.memory_consumption = 256

      [apc]
      apc.enabled = On
      apc.enable_cli = On
      apc.shm_size = 256M
      max_execution_time = 60
      memory_limit = 512M

      ; Disable functions that could be dangerous to this application in Elastic Beanstalk.
      disable_functions = "phpinfo, exec, system"

      ; Enable PDO estensions.
      ; extension=pdo.so
      ; extension=pdo_mysql.so

      ; Enable mailparse (last)
      ; extension=mailparse.so