# Cloudflare configuration (optional).

packages:
  yum:
    glibc.i686: []
    libtool: []
    httpd24-devel: []

commands:
  20_cloudflare:
    command: wget https://www.cloudflare.com/static/misc/mod_cloudflare/mod_cloudflare.c
    cwd: /tmp
  21_cloudflare:
    command: apxs -a -i -c mod_cloudflare.c
    cwd: /tmp

files:
  "/etc/httpd/conf.d/cloudflare.conf":
    mode: "000644"
    owner: root
    group: root
    encoding: plain
    content: |
      CloudFlareRemoteIPHeader X-Forwarded-For
      CloudFlareRemoteIPTrustedProxy 10.0.0.0/8

      # Support flexible SSL.
      <Directory /var/www/html/mautic>
        SetEnvIf X-Forwarded-Proto "https" HTTPS=on
      </Directory>
