# Logging Configuration.

# Stream all pertinent logs to CloudWatch with absolute retention.
option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false

# Instruct Elastic Beanstalk to pay attention to this project's logs.
files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/z_project.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/mautic/app/logs/*
      /var/app/ondeck/mautic/app/logs/*

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/z_project.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/mautic/app/logs/*
      /var/app/ondeck/mautic/app/logs/*

  "/opt/elasticbeanstalk/tasks/publishlogs.d/z_project.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/mautic/app/logs/*
      /var/app/ondeck/mautic/app/logs/*
