## Apache configuration for this project.
#container_commands:
#  30_make_dummy_cert:
#    command: bash /etc/ssl/certs/make-dummy-cert project.pem
#
#files:
#  "/etc/httpd/conf.d/z_project.conf":
#    mode: "000644"
#    owner: root
#    group: root
#    encoding: plain
#    content: |
#      DirectoryIndex index.php
#
#      <VirtualHost *:80>
#        ServerName *
#        ServerAlias *
#        DocumentRoot /var/www/html/mautic
#        <Directory />
#          AllowOverride All
#          Options Indexes FollowSymLinks MultiViews
#          Require all granted
#        </Directory>
#      </VirtualHost>
#      <IfModule mod_ssl.c>
#        <VirtualHost *:443>
#            ServerName *
#            ServerAlias *
#            DocumentRoot /var/www/html/mautic
#            ErrorLog ${APACHE_LOG_DIR}/error.log
#            CustomLog ${APACHE_LOG_DIR}/access.log combined
#            SSLEngine on
#            SSLCertificateFile	/etc/ssl/certs/project.pem
#            SSLCACertificatePath /etc/ssl/certs/
#            SSLCACertificateFile /etc/ssl/certs/ca-bundle.crt
#            <FilesMatch "\.(phtml|php)$">
#              SSLOptions +StdEnvVars
#            </FilesMatch>
#            <Directory /usr/lib/cgi-bin>
#              SSLOptions +StdEnvVars
#            </Directory>
#            BrowserMatch "MSIE [2-6]" \
#              nokeepalive ssl-unclean-shutdown \
#              downgrade-1.0 force-response-1.0
#            # MSIE 7 and newer should be able to use keepalive
#            BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
#        </VirtualHost>
#      </IfModule>
#
#      # mod_php options
#      <IfModule mod_php7.c>
#          #
#          # Cause the PHP interpreter to handle files with a .php extension.
#          #
#          <FilesMatch \.php$>
#              SetHandler application/x-httpd-php
#          </FilesMatch>
#
#          #
#          # Uncomment the following lines to allow PHP to pretty-print .phps
#          # files as PHP source code:
#          #
#          #<FilesMatch \.phps$>
#          #    SetHandler application/x-httpd-php-source
#          #</FilesMatch>
#
#          #
#          # Apache specific PHP configuration options
#          # those can be override in each configured vhost
#          #
#          # php_value session.save_handler "files"
#          # php_value session.save_path    "/var/lib/php/7.1/session"
#          # php_value soap.wsdl_cache_dir  "/var/lib/php/7.1/wsdlcache"
#
#          # php_value opcache.file_cache   "/var/lib/php/7.1/opcache"
#      </IfModule>
#
#      # Redirect to local php-fpm if mod_php is not available
#      <IfModule !mod_php5.c>
#        <IfModule !mod_php7.c>
#          # Enable http authorization headers
#          SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
#
#          <FilesMatch \.php$>
#              SetHandler "proxy:unix:/run/php-fpm/www.sock|fcgi://localhost"
#          </FilesMatch>
#        </IfModule>
#      </IfModule>