# NewRelic configuration (optional).

packages:
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
  yum:
    newrelic-php5: []
    newrelic-sysmond: []

container_commands:
  30_newrelic_start:
    command: bash scripts/newrelic-start.sh
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/30_newrelic_deploy_notification.sh":
    mode: "000755"
    owner: root
    group: root
    encoding: plain
    content: |
      #!/usr/bin/env bash
      # Notify newrelic, if applicable, of a deployment to production.
      # Only send the notification if the primary instance.
      sudo bash /var/app/current/scripts/aws-eb-cron.sh bash /var/app/current/scripts/newrelic-notify.sh
