# NewRelic configuration (optional).

packages:
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
  yum:
    newrelic-php5: []
    newrelic-sysmond: []

container_commands:
  30_newrelic_start:
    command: bash scripts/newrelic-start.sh
    ignoreErrors: true