# Vhost configuration for this project.
container_commands:
  30_make-dummy-cert:
    command: sudo bash /etc/ssl/certs/make-dummy-cert project.pem

files:
  "/etc/httpd/conf.d/project.conf":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      <VirtualHost *:80>
        DocumentRoot /var/app/current/mautic
        <Directory />
          AllowOverride All
          Options Indexes FollowSymLinks MultiViews
          Require all granted
        </Directory>
      </VirtualHost>
      <IfModule mod_ssl.c>
        <VirtualHost *:443>
            DocumentRoot /var/app/current/mautic
            ErrorLog ${APACHE_LOG_DIR}/error.log
            CustomLog ${APACHE_LOG_DIR}/access.log combined
            SSLEngine on
            SSLCertificateFile	/etc/ssl/certs/project.pem
            SSLCACertificatePath /etc/ssl/certs/
            SSLCACertificateFile /etc/ssl/certs/ca-bundle.crt
            <FilesMatch "\.(cgi|shtml|phtml|php)$">
              SSLOptions +StdEnvVars
            </FilesMatch>
            <Directory /usr/lib/cgi-bin>
              SSLOptions +StdEnvVars
            </Directory>
            BrowserMatch "MSIE [2-6]" \
              nokeepalive ssl-unclean-shutdown \
              downgrade-1.0 force-response-1.0
            # MSIE 7 and newer should be able to use keepalive
            BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
        </VirtualHost>
      </IfModule>