# Disk permissions and mounts required for this project.
packages:
  yum:
    nfs-utils: []
    jq: []

container_commands:
  40_io_efs_mount:
    command: scripts/aws-efs-mount.sh
  41_io_set_permissions:
    command: chown -R webapp:webapp .
  41_io_set_permissions_efs:
    leader_only: true
    command: chown -R webapp:webapp /efs/mautic
  42_io_create_writable_folders:
    command: mkdir -p \
      mautic/app/cache \
      mautic/app/logs \
      mautic/media/files \
      mautic/media/dashboards \
      mautic/media/images \
      mautic/translations \
      mautic/app/spool \
      mautic/multi
  42_io_create_writable_folders_efs:
    leader_only: true
    command: mkdir -p \
      /etc/mautic/app/cache \
      /etc/mautic/app/logs \
      /etc/mautic/media/files \
      /etc/mautic/media/dashboards \
      /etc/mautic/media/images \
      /etc/mautic/translations \
      /etc/mautic/app/spool \
      /etc/mautic/multi
  43_io_set_permissions_writable_folders:
    command: chgrp -R webapp \
      mautic/app/cache \
      mautic/app/logs \
      mautic/media/files \
      mautic/media/dashboards \
      mautic/media/images \
      mautic/translations \
      mautic/app/spool \
      mautic/multi
  43_io_set_permissions_writable_folders_efs:
    leader_only: true
    command: chgrp -R webapp \
      /etc/mautic/app/cache \
      /etc/mautic/app/logs \
      /etc/mautic/media/files \
      /etc/mautic/media/dashboards \
      /etc/mautic/media/images \
      /etc/mautic/translations \
      /etc/mautic/app/spool \
      /etc/mautic/multi
  44_io_set_permissions_writable_folders:
    command: chmod -R ug+wx \
      mautic/app/cache \
      mautic/app/logs \
      mautic/media/files \
      mautic/media/dashboards \
      mautic/media/images \
      mautic/translations \
      mautic/app/spool \
      mautic/multi
  44_io_set_permissions_writable_folders_efs:
    leader_only: true
    command: chmod -R ug+wx \
      /etc/mautic/app/cache \
      /etc/mautic/app/logs \
      /etc/mautic/media/files \
      /etc/mautic/media/dashboards \
      /etc/mautic/media/images \
      /etc/mautic/translations \
      /etc/mautic/app/spool \
      /etc/mautic/multi
  45_io_set_permissions_touch_files:
    command: touch mautic/app/bootstrap.php.cache mautic/.php_cs
  46_io_set_permissions_writable_files:
    command: chgrp webapp mautic/app/bootstrap.php.cache mautic/.php_cs
  47_io_set_permissions_writable_files:
    command: chmod ug+wx mautic/app/bootstrap.php.cache mautic/.php_cs
  48_io_efs_symlink:
    command: ln -s /efs/

  # Script to mount the /efs path.
  # @todo - mount storage for shared spool and other files that Mautic expects to be writable.
  # The following folders must be abstracted for multisite:
  #     mautic/app/spool*
  #     mautic/app/logs*
  #     mautic/themes*
  #     mautic/media*
