# Disk permissions and mounts required for this project.
packages:
  yum:
    nfs-utils: []

container_commands:
  40_io_permissions:
    command: |
      chown -R webapp:webapp .
      touch mautic/app/bootstrap.php.cache mautic/.php_cs
      chgrp webapp mautic/app/bootstrap.php.cache mautic/.php_cs
      chmod ug+wx mautic/app/bootstrap.php.cache mautic/.php_cs
  41_io_efs_mount:
    command: scripts/aws-efs-mount.sh
  42_io_efs_create_folders:
    leader_only: true
    command: mkdir -p \
      /efs/mautic \
      /efs/mautic/app \
      /efs/mautic/app/cache \
      /efs/mautic/app/logs \
      /efs/mautic/app/spool \
      /efs/mautic/media \
      /efs/mautic/media/files \
      /efs/mautic/media/dashboards \
      /efs/mautic/media/images \
      /efs/mautic/multi \
      /efs/mautic/translations \
  43_io_efs_rsync_core_updates:
    leader_only: true
    command: |
      rsync -avh mautic/media/files/ /efs/mautic/media/files/
      rsync -avh mautic/media/dashboards/ /efs/mautic/media/dashboards/
      rsync -avh mautic/media/images/ /efs/mautic/media/images/
      rsync -avh mautic/translations/ /efs/mautic/translations/
  44_io_efs_permissions:
    leader_only: true
    command: |
      chown -R webapp:webapp /efs
      chgrp -R webapp /efs
      chmod -R ug+wx /efs
  45_io_efs_symlinks:
    command: |
      ln -sf /efs/mautic/app/cache mautic/app/cache
      ln -sf /efs/mautic/app/logs mautic/app/logs
      ln -sf /efs/mautic/app/spool mautic/app/spool
      ln -sf /efs/mautic/media/files mautic/media/files
      ln -sf /efs/mautic/media/dashboards mautic/media/dashboards
      ln -sf /efs/mautic/media/images mautic/media/images
      ln -sf /efs/mautic/multi mautic/multi
      ln -sf /efs/mautic/translations mautic/translations