# Logging Configuration.

# Stream all pertinent logs to CloudWatch with absolute retention.
option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false

container_commands:
  40_touch_logs:
    command: |
      touch /var/app/current/mautic/app/logs/tmp.log \
        /var/app/ondeck/mautic/app/logs/tmp.log
      rm -f /opt/elasticbeanstalk/tasks/taillogs.d/z_project.conf.bak \
        /opt/elasticbeanstalk/tasks/bundlelogs.d/z_project.conf.bak \
        /opt/elasticbeanstalk/tasks/publishlogs.d/z_project.conf \
        /opt/elasticbeanstalk/tasks/publishlogs.d/z_project.conf.bak

# Instruct Elastic Beanstalk to pay attention to this project's logs.
files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/z_project.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/mautic/app/logs/*.log
      /var/app/ondeck/mautic/app/logs/*.log

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/z_project.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/mautic/app/logs/*.log
      /var/app/ondeck/mautic/app/logs/*.log
