# Logging Configuration.
# NOTE IAM permissions may need to be set for this to include mautic logs without manual setup.
# See: https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/AWSHowTo.cloudwatchlogs.html

# Stream all pertinent logs to CloudWatch with absolute retention.
option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false

# Instruct Elastic Beanstalk to pay attention to this project's logs.
files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/mautic.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/mautic/app/logs/*.log
      /var/app/ondeck/mautic/app/logs/*.log

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/mautic.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/mautic/app/logs/*.log
      /var/app/ondeck/mautic/app/logs/*.log

container_commands:
  # Remove any previous log file config iterations.
  41_cleanup_logs:
    command: |
      rm -f /opt/elasticbeanstalk/tasks/taillogs.d/z_project.conf \
        /opt/elasticbeanstalk/tasks/taillogs.d/z_project.conf.bak \
        /opt/elasticbeanstalk/tasks/bundlelogs.d/z_project.conf \
        /opt/elasticbeanstalk/tasks/bundlelogs.d/z_project.conf.bak \
        /opt/elasticbeanstalk/tasks/publishlogs.d/z_project.conf \
        /opt/elasticbeanstalk/tasks/publishlogs.d/z_project.conf.bak \
        /opt/elasticbeanstalk/tasks/taillogs.d/mautic.conf.bak \
        /opt/elasticbeanstalk/tasks/bundlelogs.d/mautic.conf.bak
  # Start/restart AWS log stream.
  42_awslogs_restart:
    command: service awslogs restart