# General commands for Mautic setup.
container_commands:
  # Installation will only take place if the environment variable MAUTIC_INSTALL is 1.
  50_pwd:
    command: pwd
  50_mautic_install:
    command: bash scripts/mautic-install.sh
    leader_only: true
  50_mautic_migrations:
    command: console doctrine:migrations:migrate -vvv
    leader_only: true
  # Each instance has it's own cache directory for deployment stability, so each must perform the following.
  51_mautic_iplookup:
    command: console mautic:iplookup:download -vvv
  # The warmup step commonly fails due to an issue with Twig.
  52_mautic_cache_clear_1:
    command: console cache:clear --no-interaction --no-warmup -vvv
    ignoreErrors: true
  52_mautic_cache_clear_2:
    command: console cache:clear --no-interaction -vvv