# Global bash functions for simpler cron jobs and maintenance of Mautic.
files:
  "/etc/bashrc-mautic":
    mode: "000644"
    owner: root
    group: root
    content: |
      # .bashrc-mautic
      # Global bash functions for simpler cron jobs and maintenance of Mautic.

      # console - Runs a console command as webapp user from anywhere in the EC2.
      #           Ensures we are using the webapp user.
      #           Works during deployment, and after instance is finalized.
      #
      # Example:
      #   console cache:clear
      function console() {
          if [ $(pwd) == "/var/app/ondeck" ]
          then
              sudo -u webapp bash -c ". /opt/elasticbeanstalk/support/envvars ; /usr/bin/php /var/app/ondeck/mautic/app/console $@"
          else
              sudo -u webapp bash -c ". /opt/elasticbeanstalk/support/envvars ; /usr/bin/php /var/app/current/mautic/app/console $@"
          fi
      }

      # cron    - Run a mautic cron console command only if on the leader instance using aws-eb-cron.
      #
      # Example:
      #   * * * * * root cron mautic:emails:send
      function cron() {
          if [ $(pwd) == "/var/app/ondeck" ]
          then
              sudo bash /var/app/ondeck/scripts/aws-eb-cron.sh /usr/bin/php /var/app/ondeck/mautic/app/console $@ --no-interaction --no-ansi
          else
              sudo bash /var/app/current/scripts/aws-eb-cron.sh /usr/bin/php /var/app/current/mautic/app/console $@ --no-interaction --no-ansi
          fi
      }

container_commands:
  # Inject the custom functions above to the global definition file.
  50_mautic_function_setup:
    command: grep -q -F 'bashrc-mautic' /etc/bashrc || echo 'if [ -f /etc/bashrc-mautic ]; then . /etc/bashrc-mautic; fi' >> /etc/bashrc
  51_mautic_function_start:
    command: source /etc/bashrc-mautic
  # General commands for Mautic setup.
  52_mautic_iplookup:
    command: console mautic:iplookup:download
  53_mautic_migrations:
    command: console doctrine:migrations:migrate
    leader_only: true
  54_mautic_cache_clear:
    command: console cache:clear
