# General commands for Mautic setup.
container_commands:
  # Installation will only take place if the environment variable MAUTIC_INSTALL is 1.
  50_pwd:
    command: pwd
  50_mautic_install:
    command: bash scripts/mautic-install.sh
    leader_only: true
  50_mautic_migrations:
    command: console doctrine:migrations:migrate -vvv
    leader_only: true
  51_mautic_iplookup:
    command: console mautic:iplookup:download -vvv
  52_mautic_cache_clear:
    command: console cache:clear -vvv
