# PHP configuration.

option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /mautic
    memory_limit: 512M
    zlib.output_compression: "Off"
    allow_url_fopen: "On"
    display_errors: "Off"
    max_execution_time: 60

files:
  "/etc/php.d/z_project.ini":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      ; Cloudflare upload limits are at 100M by default, support that level for heavy CSV imports primarily.
      post_max_size = 100M
      upload_max_filesize = 100M

      ; Session lifespan of 3 hours.
      session.gc_maxlifetime = 10800

      [opcache]
      opcache.enable = On
      opcache.enable_cli = On
      opcache.file_cache = "/tmp/opcache"
      opcache.validate_timestamps = On
      opcache.revalidate_freq = 300
      opcache.memory_consumption = 256

      ; Cloudflare will timeout at 60 seconds, this limit will be automatically superceeded by Mautic as needed.
      max_execution_time = 60

      ; Rather high limit for Mautic in production.
      memory_limit = 512M

      ; Disable functions that could be dangerous to this application in Elastic Beanstalk.
      disable_functions = phpinfo,exec,system,passthru,shell_exec

      [apc]
      ; APCu must be loaded before APC Backward Compantibility (removed from php.ini by installation step)
      extension="apcu.so"
      extension="apc.so"
      apc.enabled = On
      apc.enable_cli = On
      apc.shm_size = 256M

      ; Enable mailparse (absolutely last, removed from php.ini by installation step)
      extension=mailparse.so

container_commands:

  # PHP 7.1 Requirements...
  50_php71_install_yum_packages:
    test: '[ $(php --version 2>/dev/null | head -n 1 | cut -d " " -f 2 | cut -c 1,3) -eq "71" ]'
    command: |
      sudo yum install php71-imap -y
      sudo yum install php71-pecl-redis -y
  51_php71_install_mailparse:
    test: '[ $(php --version 2>/dev/null | head -n 1 | cut -d " " -f 2 | cut -c 1,3) -eq "71" && ! -f /usr/lib64/php/7.1/modules/mailparse.so ]'
    command: |
      sudo pecl7 install --force mailparse
      sudo -u root bash -c "sed '/extension=\"mailparse.so\"/d' /etc/php.ini > /etc/php.ini"
  # Mautic currently uses an older version of Doctrine which lacks APCu compatibility.
  # Installing APC Backward Compatibility allows the old APC functions to use APCu instead without modifying Mautic.
  52_php71_install_apcu_bc:
    test: '[ $(php --version 2>/dev/null | head -n 1 | cut -d " " -f 2 | cut -c 1,3) -eq "71" && ! -f /usr/lib64/php/7.1/modules/apc.so ]'
    command: |
      no | sudo pecl7 install --force apcu_bc-beta
      sudo rm -rf /etc/php-7.1.d/40-apcu.ini
      sudo -u root bash -c "sed '/extension=\"apc.so\"/d' /etc/php.ini > /etc/php.ini"
      sudo -u root bash -c "sed '/extension=\"apcu.so\"/d' /etc/php.ini > /etc/php.ini"

  # PHP 7.2 Requirements...
  52_php72_install_yum_packages:
    test: '[ $(php --version 2>/dev/null | head -n 1 | cut -d " " -f 2 | cut -c 1,3) -eq "72" ]'
    command: |
      sudo yum install php72-imap -y
      sudo yum install php72-pecl-redis -y
  53_php72_install_mailparse:
    test: '[ $(php --version 2>/dev/null | head -n 1 | cut -d " " -f 2 | cut -c 1,3) -eq "72" && ! -f /usr/lib64/php/7.2/modules/mailparse.so ]'
    command: |
      sudo pecl7 install --force mailparse
      sudo -u root bash -c "sed '/extension=\"mailparse.so\"/d' /etc/php.ini > /etc/php.ini"
  # Mautic currently uses an older version of Doctrine which lacks APCu compatibility.
  # Installing APC Backward Compatibility allows the old APC functions to use APCu instead without modifying Mautic.
  54_php72_install_apcu_bc:
    test: '[ $(php --version 2>/dev/null | head -n 1 | cut -d " " -f 2 | cut -c 1,3) -eq "72" && ! -f /usr/lib64/php/7.2/modules/apc.so ]'
    command: |
      no | sudo pecl7 install --force apcu_bc-beta
      sudo rm -rf /etc/php-7.2.d/40-apcu.ini
      sudo -u root bash -c "sed '/extension=\"apc.so\"/d' /etc/php.ini > /etc/php.ini"
      sudo -u root bash -c "sed '/extension=\"apcu.so\"/d' /etc/php.ini > /etc/php.ini"

  # Redis for all versions of PHP.
  55_redis_configure:
    command: bash scripts/redis-start.sh
    ignoreErrors: true