# Disk permissions and mount configuration.

packages:
  yum:
    nfs-utils: []

container_commands:
  # First create any missing folders/files.
  60_io_local_create:
    command: |
      touch mautic/app/bootstrap.php.cache \
        mautic/.php_cs
      mkdir -p mautic/app/cache \
        mautic/app/logs \
        mautic/app/spool \
        mautic/media/files \
        mautic/translations
  # Mount our EFS drive for shared storage across nodes.
  61_io_efs_mount:
    command: bash scripts/aws-efs-mount.sh
  # Ensure the EFS mount has our desired folders.
  # The /shared folder can be used for potentialy shared local executables/data files.
  62_io_efs_create_folders:
    leader_only: true
    command: |
      mkdir -p /efs/mautic \
        /efs/mautic/app \
        /efs/mautic/app/config \
        /efs/mautic/app/logs \
        /efs/mautic/app/spool \
        /efs/mautic/media \
        /efs/mautic/media/files \
        /efs/mautic/media/dashboards \
        /efs/mautic/media/images \
        /efs/mautic/multi \
        /efs/mautic/translations \
        /efs/mautic/shared
  # Ensure the EFS mount has our desired files.
  63_io_efs_create_files:
    leader_only: true
    command: cp -n mautic/app/config/parameters_local.php /efs/mautic/app/config/local.php
  # Sync updates from our deployment overwriting any alterations to the defaults within EFS.
  64_io_efs_rsync_updates:
    leader_only: true
    command: |
      rsync -avhL mautic/media/files/ /efs/mautic/media/files/
      rsync -avhL mautic/media/dashboards/ /efs/mautic/media/dashboards/
      rsync -avhL mautic/media/images/ /efs/mautic/media/images/
      rsync -avhL mautic/translations/ /efs/mautic/translations/
  # Replace our local folders with symlinks to the EFS mounted equivalents.
  # Each instance has it's own ./mautic/app/cache directory for deployment stability, but everything else can be linked.
  65_io_efs_links:
    command: |
      # These may impede performance if shared:
      # rm -rf mautic/app/cache
      # ln -sf /efs/mautic/app/cache mautic/app
      # rm -rf mautic/app/logs
      # ln -sf /efs/mautic/app/logs mautic/app
      rm -rf mautic/app/spool
      ln -sf /efs/mautic/app/spool mautic/app
      rm -rf mautic/media/files
      ln -sf /efs/mautic/media/files mautic/media
      rm -rf mautic/media/dashboards
      ln -sf /efs/mautic/media/dashboards mautic/media
      rm -rf mautic/media/images
      ln -sf /efs/mautic/media/images mautic/media
      rm -rf mautic/multi
      ln -sf /efs/mautic/multi mautic
      rm -rf mautic/translations
      ln -sf /efs/mautic/translations mautic
      rm -rf mautic/shared
      ln -sf /efs/mautic/shared mautic
      rm -f mautic/app/config/local.php
      ln -sf /efs/mautic/app/config/local.php mautic/app/config/local.php
  # Override all EFS permissions as a precaution. At large scale this step may need to be removed.
  66_io_efs_permissions:
    leader_only: true
    command: |
      chown -R webapp:webapp /efs/mautic
      chgrp -R webapp /efs/mautic
      chmod -R ug+wx /efs/mautic
  # Override all local permissions.
  67_io_local_permissions:
    command: |
      chown -R webapp:webapp .
      chgrp -R webapp mautic \
        mautic/app/bootstrap.php.cache \
        mautic/.php_cs \
        mautic/media \
        mautic/app/cache \
        mautic/app/logs
      chmod -R u+rwX,go+rX,go-w .
      chmod -R ug+wx mautic/app/bootstrap.php.cache \
        mautic/.php_cs \
        mautic/media \
        mautic/app/cache \
        mautic/app/logs
  68_shared_folder_permissions:
    command: |
      echo 'deny from all' > mautic/shared/.htaccess
