# General commands for Mautic setup.
container_commands:
  # Intentionally avoid warmup as it causes a number of issues.
  70_mautic_cache_clear:
    command: rm -rf ./mautic/app/cache/ ; console cache:clear --no-interaction --no-warmup -vvv
    ignoreErrors: true
  # Installation will only take place if the environment variable MAUTIC_INSTALL is 1.
  71_mautic_install:
    command: bash scripts/mautic-install.sh
    leader_only: true
  # Run database migrations to ensure schema is up to date with the current version.
  72_mautic_migrations:
    command: console doctrine:migrations:migrate --no-interaction -vvv
    leader_only: true
  # Download IP Lookup databases, which are stored in each instance and not on the EFS mount.
  73_mautic_iplookup:
    command: console mautic:iplookup:download -vvv
