# General commands for Mautic setup.
container_commands:
  # Intentionally clear cache to ensure there are no obvious code issues, then recreate required cache folders.
  70_mautic_cache_clear:
    command: |
      rm -rf mautic/app/cache/
      console cache:clear --no-interaction --no-warmup -vvv
      mkdir -p mautic/app/cache/prod/data
      chown -R webapp:webapp mautic/app/cache
      chmod -R ug+wx mautic/app/cache
  # Link the shared dashboard EFS mount after a cache clear.
  71_mautic_efs_shared_dashboard:
    command: ln -sf /efs/mautic/app/cache/data/shared_dashboard mautic/app/cache/prod/data
  # Installation will only take place if the environment variable MAUTIC_INSTALL is 1.
  72_mautic_install:
    command: bash scripts/mautic-install.sh
    leader_only: true
  # Run database migrations to ensure schema is up to date with the current major version.
  73_mautic_migrations:
    command: console doctrine:migrations:migrate --no-interaction --allow-no-migration -vvv
    ignoreErrors: true
    leader_only: true
  # Force schema updates for custom plugins that have no migrations.
  # 74_mautic_schema:
  #  command: console doctrine:schema:update --force -vvv
  #  leader_only: true
  # Download IP Lookup databases, which are stored in each instance and not on the EFS mount.
  75_mautic_iplookup:
    command: console mautic:iplookup:download -vvv
  # Promote new changes to core CSS and JS. This assumes LESS compilation has taken place at build-time.
  76_generate_assets:
    command: console mautic:assets:generate -vvv

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/77_mautic_cache_warm.sh":
    mode: "000755"
    owner: root
    group: root
    encoding: plain
    content: |
      #!/usr/bin/env bash
      console cache:warm --no-interaction -vvv
