files:
  "/etc/cron.d/project_custom":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Custom cron tasks for third party plugins can go here.

      # ENHANCERS
      # Update City/State/Postal-code data for the Mautic Enhancer Bundle.
      0 2 5 * * root cron mautic:integration:enhancer:installcspcdata