files:
  "/etc/cron.d/project_custom":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Custom cron tasks for third party plugins can go here.

      # ENHANCERS
      # Update City/State/Postal-code data for the Mautic Enhancer Bundle.
      0 2 5 * * root cron mautic:integration:enhancer:installcspcdata
      # Update Experian CorrectAddress database file (2+ Gigs) once a month.
      0 2 10 * * root cron mautic:integration:enhancer:updatecorrectaddress

      # CONTACT LEDGER
      # Backfill statistics up to 15 minutes from now.
      */5 * * * * root cron mautic:ledger:source:stats
      */5 * * * * root cron mautic:ledger:client:stats

      # REPROCESS CONTACT LEDGER
      # Updates contact_ledger_campaign_source_stats table when reprocess flag is set
      */2 * * * * root cron mautic:ledger:report:reprocess

      # CONTACT CLIENT
      # Generate and send client files when appropriate.
      */5 * * * * root cron mautic:contactclient:files
      # Clear out old cache entries that are no longer needed
      30 23 * * * root cron mautic:contactclient:maintenance

      # CONTACT SOURCE
      # Clear out old cache entries that are no longer needed
      30 22 * * * root cron mautic:contactsource:maintenance

      # HEALTH
      # Checks campaign queues and the like for a backlog.
      5,35 * * * * root cron mautic:health:check
